In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#import file 1 
csv_file1 = "Resources/country_GDP.csv"
country_GDP = pd.read_csv(csv_file1)
country_GDP.head()

#transpose year data 

country_GDP = country_GDP.melt(id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], 
        var_name="Date")

country_GDP


country_GDP=country_GDP.set_index("Date")

country_GDP


#drop null GDP data 

country_GDP = country_GDP.dropna()

country_GDP


#rename Value column 

country_GDP = country_GDP.rename(columns={"value": "GDP"})

country_GDP

,Country Name,Country Code,Indicator Name,Indicator Code,GDP
Date,,,,,
1960,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08
1960,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857767e+10
1960,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09
1960,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08
1960,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10
...,...,...,...,...,...
2018,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,7.900269e+09
2018,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2.691440e+10
2018,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,3.682882e+11
2018,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2.672007e+10
2018,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,3.100052e+10

In [3]:
csv_file2 = "Resources/country_population.csv"
country_pop = pd.read_csv(csv_file2)
country_pop.head()


#transpose year data 
country_pop = country_pop.melt(id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], 
        var_name="Date")

country_pop


country_pop=country_pop.set_index("Date")

country_pop

#rename value 
country_pop = country_pop.rename(columns={"value": "Population"})

country_pop

      Country Name Country Code     Indicator Name Indicator Code  Population
Date
1960         Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1960   Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
1960        Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
1960       Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
1960       Andorra          AND  Population, total    SP.POP.TOTL     13411.0
...            ...          ...                ...            ...         ...
2016        Kosovo          XKX  Population, total    SP.POP.TOTL   1816200.0
2016   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL  27584213.0
2016  South Africa          ZAF  Population, total    SP.POP.TOTL  56015473.0
2016        Zambia          ZMB  Population, total    SP.POP.TOTL  16591390.0
2016      Zimbabwe          ZWE  Population, total    SP.POP.TOTL  16150362.0

[15048 rows x 5 columns]

In [4]:
csv_file3 = "Resources/fertility_rate.csv"
fertility_rate = pd.read_csv(csv_file3)
fertility_rate.head()


fertility_rate = fertility_rate.melt(id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], 
        var_name="Date")

fertility_rate


fertility_rate=fertility_rate.set_index("Date")

fertility_rate

#rename value 
fertility_rate = fertility_rate.rename(columns={"value": "Fertility Rate"})

fertility_rate

,Country Name,Country Code,Indicator Name,Indicator Code,Fertility Rate
Date,,,,,
1960,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820
1960,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.450
1960,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.478
1960,Albania,ALB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.489
1960,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN
...,...,...,...,...,...
2016,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.060
2016,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.995
2016,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.458
2016,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.981
2016,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.760

In [5]:
csv_file4 = "Resources/life_expectancy.csv"
life_exp = pd.read_csv(csv_file4)
life_exp.head()


life_exp = life_exp.melt(id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], 
        var_name="Date")

life_exp


life_exp=life_exp.set_index("Date")

life_exp


#rename value 
life_exp = life_exp.rename(columns={"value": "Life Expectancy"})

life_exp

,Country Name,Country Code,Indicator Name,Indicator Code,Life Expectancy
Date,,,,,
1960,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662000
1960,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.292000
1960,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.251000
1960,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.279000
1960,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN
...,...,...,...,...,...
2016,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.646341
2016,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.953000
2016,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.774000
2016,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.874000
2016,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.163000

In [15]:
data_1 = pd.merge(life_exp, fertility_rate, on=('Date', 'Country Name'))



data_1


data_2 = pd.merge(country_pop, country_GDP, on=('Date', 'Country Name'))

data_2


all_data = pd.merge(data_1, data_2, on=('Date', 'Country Name'))

all_data

,Country Name,Country Code_x_x,Indicator Name_x_x,Indicator Code_x_x,Life Expectancy,Country Code_y_x,Indicator Name_y_x,Indicator Code_y_x,Fertility Rate,Country Code_x_y,Indicator Name_x_y,Indicator Code_x_y,Population,Country Code_y_y,Indicator Name_y_y,Indicator Code_y_y,GDP
Date,,,,,,,,,,,,,,,,,
1960,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.292000,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.450,AFG,"Population, total",SP.POP.TOTL,8996351.0,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08
1960,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.817073,AUS,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.453,AUS,"Population, total",SP.POP.TOTL,10276477.0,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857767e+10
1960,Austria,AUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.585610,AUT,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.690,AUT,"Population, total",SP.POP.TOTL,7047539.0,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09
1960,Burundi,BDI,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,41.281000,BDI,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.953,BDI,"Population, total",SP.POP.TOTL,2786106.0,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08
1960,Belgium,BEL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.701951,BEL,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.540,BEL,"Population, total",SP.POP.TOTL,9153489.0,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.646341,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.060,XKX,"Population, total",SP.POP.TOTL,1816200.0,XKX,GDP (current US$),NY.GDP.MKTP.CD,6.714712e+09
2016,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.953000,YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.995,YEM,"Population, total",SP.POP.TOTL,27584213.0,YEM,GDP (current US$),NY.GDP.MKTP.CD,3.096824e+10
2016,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.774000,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.458,ZAF,"Population, total",SP.POP.TOTL,56015473.0,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2.963409e+11
2016,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.874000,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.981,ZMB,"Population, total",SP.POP.TOTL,16591390.0,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2.095475e+10
2016,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.163000,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.760,ZWE,"Population, total",SP.POP.TOTL,16150362.0,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2.054868e+10

In [18]:
country_data_final = all_data[["Country Name", "Life Expectancy", "Population", "Fertility Rate", "GDP"]]

country_data_final

      Country Name  Life Expectancy  Population  Fertility Rate           GDP
Date
1960   Afghanistan        32.292000   8996351.0           7.450  5.377778e+08
1960     Australia        70.817073  10276477.0           3.453  1.857767e+10
1960       Austria        68.585610   7047539.0           2.690  6.592694e+09
1960       Burundi        41.281000   2786106.0           6.953  1.960000e+08
1960       Belgium        69.701951   9153489.0           2.540  1.165872e+10
...            ...              ...         ...             ...           ...
2016        Kosovo        71.646341   1816200.0           2.060  6.714712e+09
2016   Yemen, Rep.        64.953000  27584213.0           3.995  3.096824e+10
2016  South Africa        62.774000  56015473.0           2.458  2.963409e+11
2016        Zambia        61.874000  16591390.0           4.981  2.095475e+10
2016      Zimbabwe        61.163000  16150362.0           3.760  2.054868e+10

[11528 rows x 5 columns]